#casting 
1- integer to float

In [29]:
num_value = 32
number = float(num_value)
print(type(number))

<class 'float'>

In [30]:
numb_value= 32.5
number = int(numb_value)
print(type(number))
print(number)

<class 'int'>
32

In [31]:
value = "45"
integer_value = int(value)
float_value = float(value)
print(type(integer_value))
print(type(float_value))

<class 'int'>
<class 'float'>

#Dnamic type casting 
#1- Explicit type casting

In [32]:
num_string = "100"
num_integer = int(num_string)
print(type(num_integer))

<class 'int'>

In [33]:
print("this is my book")

this is my book

In [34]:
print("test")

test

#dynamic type casting

In [35]:
user_input = "6.0"  # manually assign a number

if '.' in user_input:
    converted_value = float(user_input)
else:
    converted_value = int(user_input)

print(type(converted_value))

<class 'float'>