In [5]:
import pandas as pd

In [2]:
pip install eurostat

Requirement already satisfied: eurostat in /Users/mac/miniconda3/envs/data_gathering/lib/python3.10/site-packages (1.1.1)
Requirement already satisfied: pandas in /Users/mac/miniconda3/envs/data_gathering/lib/python3.10/site-packages (from eurostat) (2.2.0)
Requirement already satisfied: requests in /Users/mac/miniconda3/envs/data_gathering/lib/python3.10/site-packages (from eurostat) (2.32.5)
Requirement already satisfied: numpy<2,>=1.22.4 in /Users/mac/miniconda3/envs/data_gathering/lib/python3.10/site-packages (from pandas->eurostat) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mac/miniconda3/envs/data_gathering/lib/python3.10/site-packages (from pandas->eurostat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/mac/miniconda3/envs/data_gathering/lib/python3.10/site-packages (from pandas->eurostat) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/mac/miniconda3/envs/data_gathering/lib/python3.10/site-packages (from pandas->eurostat) (2025.3)
Requirement already satisfied: six>=1.5 in /Users/mac/miniconda3/envs/data_gathering/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas->eurostat) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in /Users/mac/miniconda3/envs/data_gathering/lib/python3.10/site-packages (from requests->eurostat) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/mac/miniconda3/envs/data_gathering/lib/python3.10/site-packages (from requests->eurostat) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/mac/miniconda3/envs/data_gathering/lib/python3.10/site-packages (from requests->eurostat) (2.6.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/mac/miniconda3/envs/data_gathering/lib/python3.10/site-packages (from requests->eurostat) (2025.11.12)
Note: you may need to restart the kernel to use updated packages.

## Eurostat Table of Contents (All Datasets)

In [12]:
eurostat.get_toc_df(agency='all', dataset='all', lang='en')

,title,code,type,last update of data,last table structure change,data start,data end
0,Unemployment rates by country of birth - quart...,LFSQ_URGACOB,dataset,2025-12-12T11:00:00+0100,2025-12-12T11:00:00+0100,1998-Q1,2025-Q3
1,Unemployment rates by educational attainment l...,LFSQ_URGAED,dataset,2025-12-12T11:00:00+0100,2025-12-12T11:00:00+0100,1998-Q1,2025-Q3
2,Unemployment rates by citizenship - quarterly ...,LFSQ_URGAN,dataset,2025-12-12T11:00:00+0100,2025-12-12T11:00:00+0100,1998-Q1,2025-Q3
3,Share of digital platform workers (in the last...,LFST_DPW_01,dataset,2024-07-17T23:00:00+0200,2024-07-17T23:00:00+0200,2022,2022
4,Share of digital platform workers (in the last...,LFST_DPW_02,dataset,2024-07-17T23:00:00+0200,2024-07-17T23:00:00+0200,2022,2022
...,...,...,...,...,...,...,...
8215,Postal services falling under the universal se...,POST_CUBE1_X$USO701,dataset,2025-04-15T12:44:56Z,2025-04-15T12:44:56Z,None,None
8216,Postal services,POST_CUBE1_X,dataset,2025-04-15T12:43:15Z,2025-04-15T12:43:15Z,2012,2023
8217,Number of enterprises providing postal services,POST_CUBE1_X$NUM701,dataset,2025-04-15T12:44:56Z,2025-04-15T12:44:56Z,None,None
8218,Access points (USP under direct or indirect d...,POST_CUBE1_X$POST_ACC_1,dataset,2025-04-15T12:44:56Z,2025-04-15T12:44:56Z,None,None
8219,"Domestic postal traffic, letter mail and parce...",POST_CUBE1_X$POST_DTR_1,dataset,2025-04-15T12:44:56Z,2025-04-15T12:44:56Z,None,None

### Load Eurostat Table of Contents toc

In [4]:
toc = eurostat.get_toc_df(agency='all', dataset='all', lang='en')

### Preview First Rows of Eurostat Datasets

In [ ]:
toc.head()

,title,code,type,last update of data,last table structure change,data start,data end
0,"Adults by labour status within households, num...",LFST_HHWHACC,dataset,2025-12-12T23:00:00+0100,2025-09-12T11:00:00+0200,2006,2024
1,Children per private household by labour statu...,LFST_HHWHCHIT,dataset,2025-12-12T23:00:00+0100,2025-09-09T23:00:00+0200,2006,2024
2,Persons by labour status within households and...,LFST_HHWHNPT,dataset,2025-12-12T23:00:00+0100,2025-09-09T23:00:00+0200,2006,2024
3,Employment rate of EU/EFTA citizens who usuall...,LFST_LMBERCITA,dataset,2025-12-11T23:00:00+0100,2025-04-14T23:00:00+0200,1995,2024
4,Employment rate of EU/EFTA citizens who usuall...,LFST_LMBERCITED,dataset,2025-12-11T23:00:00+0100,2025-04-14T23:00:00+0200,1995,2024

### Select Specific Eurostat Datasets

In [ ]:
toc[["code", "title"]]

,code,title
0,LFST_HHWHACC,"Adults by labour status within households, num..."
1,LFST_HHWHCHIT,Children per private household by labour statu...
2,LFST_HHWHNPT,Persons by labour status within households and...
3,LFST_LMBERCITA,Employment rate of EU/EFTA citizens who usuall...
4,LFST_LMBERCITED,Employment rate of EU/EFTA citizens who usuall...
...,...,...
8215,POST_CUBE1_X$USO701,Postal services falling under the universal se...
8216,POST_CUBE1_X,Postal services
8217,POST_CUBE1_X$NUM701,Number of enterprises providing postal services
8218,POST_CUBE1_X$POST_ACC_1,Access points (USP under direct or indirect d...
8219,POST_CUBE1_X$POST_DTR_1,"Domestic postal traffic, letter mail and parce..."

In [ ]:
toc[["code", "title"]]

,code,title
0,LFST_HHWHACC,"Adults by labour status within households, num..."
1,LFST_HHWHCHIT,Children per private household by labour statu...
2,LFST_HHWHNPT,Persons by labour status within households and...
3,LFST_LMBERCITA,Employment rate of EU/EFTA citizens who usuall...
4,LFST_LMBERCITED,Employment rate of EU/EFTA citizens who usuall...
...,...,...
8215,POST_CUBE1_X$USO701,Postal services falling under the universal se...
8216,POST_CUBE1_X,Postal services
8217,POST_CUBE1_X$NUM701,Number of enterprises providing postal services
8218,POST_CUBE1_X$POST_ACC_1,Access points (USP under direct or indirect d...
8219,POST_CUBE1_X$POST_DTR_1,"Domestic postal traffic, letter mail and parce..."

In [ ]:
toc[["code", "title"]]

,code,title
0,LFST_HHWHACC,"Adults by labour status within households, num..."
1,LFST_HHWHCHIT,Children per private household by labour statu...
2,LFST_HHWHNPT,Persons by labour status within households and...
3,LFST_LMBERCITA,Employment rate of EU/EFTA citizens who usuall...
4,LFST_LMBERCITED,Employment rate of EU/EFTA citizens who usuall...
...,...,...
8215,POST_CUBE1_X$USO701,Postal services falling under the universal se...
8216,POST_CUBE1_X,Postal services
8217,POST_CUBE1_X$NUM701,Number of enterprises providing postal services
8218,POST_CUBE1_X$POST_ACC_1,Access points (USP under direct or indirect d...
8219,POST_CUBE1_X$POST_DTR_1,"Domestic postal traffic, letter mail and parce..."

### Show only code and title

In [5]:
toc[toc['title'].str.contains("asylum", case=False)]

,title,code,type,last update of data,last table structure change,data start,data end
1116,Asylum applicants having had their application...,MIGR_ASYACCA,dataset,2025-09-22T11:00:00+0200,2025-02-05T23:00:00+0100,2021,2024
1119,Asylum applicants having had their application...,MIGR_ASYACCM,dataset,2025-12-18T23:00:00+0100,2025-12-08T11:00:00+0100,2021-01,2025-11
1122,Asylum applicants having had their application...,MIGR_ASYACCM$DV_961,dataset,2025-12-18T23:00:00+0100,2025-12-08T11:00:00+0100,None,None
1125,First-time asylum applicants - per thousand pe...,MIGR_ASYAPP1MP,dataset,2025-09-01T23:00:00+0200,2025-03-20T23:00:00+0100,2008,2024
1127,First-time asylum applicants - per hundred tho...,MIGR_ASYAPP1MPM,dataset,2025-12-16T11:00:00+0100,2025-12-01T23:00:00+0100,2008-01,2025-09
1130,First-time asylum applicants - % of total asyl...,MIGR_ASYAPP1PC,dataset,2025-09-01T23:00:00+0200,2025-03-20T23:00:00+0100,2008,2024
1133,First-time asylum applications of unaccompanie...,MIGR_ASYAPP1UP,dataset,2025-09-01T23:00:00+0200,2025-06-05T23:00:00+0200,2021,2024
1136,"Asylum applicants by type, citizenship, age an...",MIGR_ASYAPPCTZA,dataset,2025-09-01T23:00:00+0200,2025-06-20T23:00:00+0200,2008,2024
1139,"Asylum applicants by type, citizenship, age an...",MIGR_ASYAPPCTZA$DV_2985,dataset,2025-09-01T23:00:00+0200,2025-06-20T23:00:00+0200,None,None
1142,"Asylum applicants by type, citizenship, age an...",MIGR_ASYAPPCTZM,dataset,2025-12-18T23:00:00+0100,2025-12-08T11:00:00+0100,2008-01,2025-11
1145,"Asylum applicants by type, citizenship, age an...",MIGR_ASYAPPCTZM$DV_2982,dataset,2025-12-18T23:00:00+0100,2025-12-08T11:00:00+0100,None,None
1148,Asylum applicants by citizenship - annual data...,MIGR_ASYCTZ,dataset,2022-07-04T23:00:00+0200,2024-04-25T11:00:00+0200,1985,2007
1150,First time asylum applicants by citizenship - ...,MIGR_ASYCTZM,dataset,2022-07-04T23:00:00+0200,2024-04-25T11:00:00+0200,1999-01,2007-12
1171,Decisions on asylum applications by citizenshi...,MIGR_ASYDCTZM,dataset,2022-07-04T23:00:00+0200,2025-07-10T11:00:00+0200,2002-01,2007-12
1174,Decisions on asylum applications by citizenshi...,MIGR_ASYDCTZY,dataset,2022-07-04T23:00:00+0200,2025-07-10T11:00:00+0200,1999,2007
1179,Asylum decisions at first instance by type of ...,MIGR_ASYDEC1PC,dataset,2025-06-27T23:00:00+0200,2025-06-27T23:00:00+0200,2008,2024
1182,Asylum decisions at final instance by type of ...,MIGR_ASYDECFP,dataset,2025-06-27T23:00:00+0200,2025-06-27T23:00:00+0200,2008,2024
1187,Persons subject of asylum applications pending...,MIGR_ASYPENCTZM,dataset,2025-12-18T23:00:00+0100,2025-12-08T11:00:00+0100,2008-01,2025-11
1190,Persons subject of asylum applications pending...,MIGR_ASYPENCTZM$DV_723,dataset,2025-12-18T23:00:00+0100,2025-12-08T11:00:00+0100,None,None
1240,Unaccompanied minor asylum applicants having h...,MIGR_ASYUMACCA,dataset,2025-09-22T11:00:00+0200,2025-02-05T23:00:00+0100,2021,2024
1243,Unaccompanied minor asylum applicants having h...,MIGR_ASYUMACCM,dataset,2025-12-18T23:00:00+0100,2025-12-08T11:00:00+0100,2021-01,2025-11
1246,"Unaccompanied minor asylum applicants by type,...",MIGR_ASYUMACTA,dataset,2025-09-01T23:00:00+0200,2025-05-07T23:00:00+0200,2021,2024
1249,"Unaccompanied minor asylum applicants by type,...",MIGR_ASYUMACTM,dataset,2025-12-18T23:00:00+0100,2025-12-08T11:00:00+0100,2021-01,2025-11
1261,Unaccompanied minors subject of asylum applica...,MIGR_ASYUMPCTM,dataset,2025-12-18T23:00:00+0100,2025-12-08T11:00:00+0100,2021-01,2025-11
1291,Asylum applications of unaccompanied minors wi...,MIGR_ASYUMWITA,dataset,2025-09-01T23:00:00+0200,2025-05-07T23:00:00+0200,2021,2024
1294,Asylum applications of unaccompanied minors wi...,MIGR_ASYUMWITM,dataset,2025-12-18T23:00:00+0100,2025-12-08T11:00:00+0100,2021-01,2025-11
1297,Asylum applicants considered to be unaccompani...,MIGR_ASYUNAA,dataset,2025-09-08T11:00:00+0200,2025-01-14T23:00:00+0100,2008,2024
1309,"Asylum applications withdrawn by citizenship, ...",MIGR_ASYWITHA,dataset,2025-09-01T23:00:00+0200,2025-02-05T23:00:00+0100,2008,2024
1312,"Asylum applications withdrawn by citizenship, ...",MIGR_ASYWITHA$DV_1021,dataset,2025-09-01T23:00:00+0200,2025-02-05T23:00:00+0100,None,None
1315,"Asylum applications withdrawn by citizenship, ...",MIGR_ASYWITHM,dataset,2025-12-18T23:00:00+0100,2025-12-08T11:00:00+0100,2008-01,2025-11
1318,"Asylum applications withdrawn by citizenship, ...",MIGR_ASYWITHM$DV_941,dataset,2025-12-18T23:00:00+0100,2025-12-08T11:00:00+0100,None,None
1519,Asylum applicants by type - monthly data,TPS00189,dataset,2025-12-18T23:00:00+0100,2025-12-08T11:00:00+0100,2024-12,2025-11
1522,Persons subject of asylum applications pending...,TPS00190,dataset,2025-12-18T23:00:00+0100,2025-12-08T11:00:00+0100,2024-12,2025-11
1525,Asylum applicants by type - annual aggregated ...,TPS00191,dataset,2025-09-01T23:00:00+0200,2025-06-20T23:00:00+0200,2013,2024
1528,First instance decisions on asylum application...,TPS00192,dataset,2025-08-28T11:00:00+0200,2025-06-18T23:00:00+0200,2013,2024
1531,Final decisions on asylum applications by type...,TPS00193,dataset,2025-10-21T23:00:00+0200,2025-06-20T23:00:00+0200,2013,2024
1533,Asylum applicants considered to be unaccompani...,TPS00194,dataset,2025-09-08T11:00:00+0200,2025-01-14T23:00:00+0100,2013,2024
5951,Asylum applications by state of procedure,SDG_10_60,dataset,2025-05-13T23:00:00+0200,2025-07-14T23:00:00+0200,2008,2024

In [17]:
filtertoc = toc[
    toc['title'].str.contains('by citizenship', case=False) &
    toc['title'].str.contains("asylum", case=False)
    ]

In [18]:
filtertoc[['code','title']]

,code,title
1148,MIGR_ASYCTZ,Asylum applicants by citizenship - annual data...
1150,MIGR_ASYCTZM,First time asylum applicants by citizenship - ...
1171,MIGR_ASYDCTZM,Decisions on asylum applications by citizenshi...
1174,MIGR_ASYDCTZY,Decisions on asylum applications by citizenshi...
1187,MIGR_ASYPENCTZM,Persons subject of asylum applications pending...
1190,MIGR_ASYPENCTZM$DV_723,Persons subject of asylum applications pending...
1261,MIGR_ASYUMPCTM,Unaccompanied minors subject of asylum applica...
1291,MIGR_ASYUMWITA,Asylum applications of unaccompanied minors wi...
1294,MIGR_ASYUMWITM,Asylum applications of unaccompanied minors wi...
1297,MIGR_ASYUNAA,Asylum applicants considered to be unaccompani...
1309,MIGR_ASYWITHA,"Asylum applications withdrawn by citizenship, ..."
1312,MIGR_ASYWITHA$DV_1021,"Asylum applications withdrawn by citizenship, ..."
1315,MIGR_ASYWITHM,"Asylum applications withdrawn by citizenship, ..."
1318,MIGR_ASYWITHM$DV_941,"Asylum applications withdrawn by citizenship, ..."

In [22]:
data = eurostat.get_data_df("MIGR_ASYCTZ")
data

,freq,citizen,unit,geo\TIME_PERIOD,1985,1986,1987,1988,1989,1990,...,1998,1999,2000,2001,2002,2003,2004,2005,2006,2007
0,A,AD,PER,AT,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,A,AD,PER,BE,NaN,NaN,NaN,0.0,NaN,NaN,...,NaN,0.0,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,A,AD,PER,BG,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
3,A,AD,PER,CY,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
4,A,AD,PER,CZ,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6054,A,ZW,PER,RO,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,5.0
6055,A,ZW,PER,SE,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,5.0,NaN,15.0,5.0,10.0,15.0,15.0
6056,A,ZW,PER,SI,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0,0.0
6057,A,ZW,PER,SK,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,0.0,0.0,0.0,0.0
6058,A,ZW,PER,UK,NaN,NaN,NaN,NaN,NaN,NaN,...,80.0,230.0,1010.0,2115.0,8695.0,4020.0,2520.0,1390.0,2145.0,2300.0

In [13]:
asylum_datasets[['code', 'title']]

NameError: name 'asylum_datasets' is not defined

In [1]:
import eurostat